<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headers.css">
</head>
<body>
    <header>
        <nav>
          <div class="userprofile">
            <img src="../resources/logo.png" alt="image" class="userImage" />
            <p class="userName">Quizer</p>
          </div>
          <div class="links">
              <a href="../homepage/index.html">Home</a>
              
              <a href="">About Us</a>
              <a href="">Contact Us</a>   
              <a href="../registerpage/regiserPage.html" id="loginnav">Login</a>
          </div>
          <div class="colors">
            <span class="colorName">Color :</span> <select name="color" id="color">
              <option value="defualt" selected>Defult</option>
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="green">Green</option>
              <option value="black">black</option>
              <option value="gray">Gray</option>
              <option value="aqua">Aqua</option>
            </select>
          </div>
          <div class="menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </nav>
      </header>

      <script src="headersc.js"></script>
</body>
</html>