:root {
  --main-color: #443761;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-size: 15pt;
  background-color: var(--main-color);
  height: 100vh;
  
}

.container {
  color: black;
  max-width: 50vw;
  margin: 50px auto;
  background-color:var(--main-color);
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 0px 25px var(--main-color), 0 0px 25px var(--main-color);
  border: 3px solid white;
}

h1 {
  color: white;
  margin: 12vh auto 5vh auto;
  border-bottom: 2px solid white;
  border-radius: 10px;
  max-width: 20vw;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1.2em;
  margin-bottom: 5px;
  display: block;
  color: black;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  font-size: 1em;
  font-weight: 500;
  background-color: #f9f9f9;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: black;
}

textarea {
  resize: none;
}

.submit-btn {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #7248b7;
}

/* Footer Styling */
.footer {
  background-color: var(--main-color);
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  max-height: fit-content;
}

.footer-links,
.footer-social {
  margin: 10px;
}

.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-links ul li {
  margin: 10px;
}

.footer-links ul li:hover {
  border-bottom: 2px solid white;
}

.footer-links a,
.footer-social a {
  color: white;
  text-decoration: none;
}

.footer-social a {
  margin: 20px 5px;
}

.footer-social img {
  height: 30px;
  max-width: 33px;
  border-radius: 50%;
}

.footer-bottom {
  border-top: 1px solid white;
  padding-top: 20px;
}
