
.contact-form {
    max-width: 80vw;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 35px green ;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    opacity: 0.9;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 5px auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    
}

.footer-contact p,
.footer-social a {
    margin: 5px 0;
   
}


.footer-social img {
    width: 28px;
    height: 28px;
    margin: 5px 0;
    border-radius: 50%;
    background-color: white;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
}
