:root {
  --main-color: #B798F6;
  --text-color: white;
  --card-bg: #f0f0f0;
  --border :#ebe1e1 ; 
  --button-bg:  #ed4ee3;
  --button-hover-bg: #a57ae5;
  --navbar-bg: rgba(0, 0, 0, 0.7);
  --navbar-text-color: #fff;
}


* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant: unset;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilory';
}
 /* Container for the progress bar */
 .progress-container {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 5px;
  
 
}

/* Inner progress bar */
.progress-bar {
 
  height: 100%;
  width: 0%; 
  background: linear-gradient(135deg, #c850c0, #4158d0);
  border-radius: 1% 100% 100% 0;
  transition: width 0.2s; 
  box-shadow: 2px 2px 10px white;
}

body{
  color: var(--text-color);
  font-size: 15pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 600;
  margin: 0;
  user-select: none;
  background: linear-gradient(135deg, #c850c0, #4158d0);
}
body  nav {
  height: 10vh;
  width: 100%;
  background-color: var(--navbar-bg);
  color:var(--navbar-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
 border-bottom: 2px solid var(--border);
  padding: 5px auto;
}
nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
  margin: 0px auto;
}
nav  div a {
  text-decoration: none;
  color: var(--navbar-text-color);
  margin: 0px 5px;
  padding: 10px;
  transition: color 0.5s ease;
}
#signin{
  background-color: var(--button-bg);
  color: var(--navbar-text-color);
  font-size: 20px;
  border-radius: 1vh;
  padding: 0.5vh 1.5vw;
  line-height: 1.5;
  font-weight: 500;
}
#signin:hover{
  background: var(--button-hover-bg)
  ;
  color: var(--navbar-text-color);
}

nav .links a:hover {
 
  border-radius: 10%;
  border-bottom: 1px solid var(--border);
  transition: all ease-in-out 0.5ms;
}

nav .userName {
  font-size: 26pt;
  padding: 6px;
}

nav .userImage {
  height: 15vh;
  border-radius: 50%;
  z-index: -1;
  background-size: cover;
 
 
}

.theme-selector select {
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--input-bg);
  color: var(--text-color);
}
option{
  background-color: #c850c0;
  color: white;
}
.logout {
  padding: 5px;
  color: var(--navbar-text-color);
  cursor: pointer;
 
}
.logout img:hover{
  border : 2px solid var(--border); 
  border-radius: 50%;
}

.bg{
 gap: 5px;
  overflow: hidden;
}
.bg img{
  margin-top: 10vh;
  height: auto;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg .text{
  text-align: left;
  font-size: 20pt;
  font-weight: 500;
  z-index: 100;
  color: var(--text-color);
  position: absolute;
  left: 3vw;
  top: 45vh;
}
.bg button{
  position: absolute;
  left: 3vw;
  top: 57vh;
  color: var(--text-color);
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 10px;
  border : 2px solid var(--border);
  z-index: 100;
  background-color: var(--button-bg);
}
body .bg button:hover{
  background-color:var(--button-hover-bg);
  color: var(--text-color);
}


.container {
  top: 100.1vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: var(--text-color);
  background: var(--main-color);
  font-weight: 600;
 
}


.container .switchbtn {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin: 60px 5px;
}

.container .switchbtn button {
  font-size: 18px;
  padding: 0 0 12px;
  color: var(--text-color);
  border : none; 
  background-color: transparent;
  border-bottom: 2px solid var(--border);
}

.container .switchbtn .btnLeaderboard {
  margin-left: 40px;
  border-bottom: none;
}

.container .switchbtn .btnLeaderboard:hover {
  border-bottom: 2px solid var(--main-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  color:var(--text-color);
  margin: 20px;
}

.card {
  background-color: transparent;
  box-shadow: 1px 1px 10px white,-1px -1px 10px white;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  outline: none;
  width: 300px;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px var(--main-color);
  position: relative;
  z-index: 0;
}

.card .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .items {
  padding: 15px;
  text-align: center;
}

.card .items h2 {
  color: var(--text-color);
}

.card .items .grade,
.card .items .level {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.card .items .grade img,
.card .items .level img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.items button {
  padding: 8px 20px;
  margin: 20px 25px;
  font-size: 18px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 600;
}

.items button:hover {
  background-color: var(--button-hover-bg);
  color: white;
  border : 2px solid var(--border); 
}

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 1vh 1vw;
  
}

.bar1,
.bar2,
.bar3 {
  width: 9vw;
  margin: 0.9vh 0px;
  height: 3px;
  background-color: var(--button-bg);
  transition: 500ms;
  padding: 3px 4px;
  border-radius: 5px;
}
.bar2{
  width: 6vw;
  margin-left: 1.8vh;
}

.bar-1 {
  rotate: 45deg;
  position: absolute;
  margin-top: 16px;
}

.bar-2 {
  opacity: 0;
}

.bar-3 {
  rotate: -45deg;

}

footer {
  background-color: var(--navbar-bg);
  color: var(--navbar-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  max-height: fit-content;
}

.footer-links,
.footer-social {
  margin: 10px;
}

.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-links ul li {
  margin: 10px;
}
.footer-links ul li:hover{
  border-bottom: 2px solid white;
}
.footer-links a,
.footer-social a {
  color: white;
  text-decoration: none;
  
}

.footer-social a {
  margin: 20px 5px;
  
}

.footer-social img {
  height: 30px;
  max-width: 33px;
  border-radius: 50%;
  
}
.footer-bottom {
  border-top: 1px solid white;
 padding-top: 20px;
  
 
}

@media (max-width:768px) {
   body nav{
    display: flex;
   
    padding: 0px 0px;
    height: 15.5vh;
    
    flex-direction: column;
    background-color: var(--navbar-bg);
    color:var(--navbar-text-color);
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 10px;
  }

  .links {
    display: none;
   
  }
  nav .active {
    width: 100%;
    background-color: var(--navbar-bg);
    color:var(--navbar-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border : 2px solid var(--border); 
  }
  nav .active a:hover {
    border : 2px solid var(--border); 
    padding: 3px 10px;
  }
  .bg img{
    display: none;
  }
  .bg .text{
    text-align: center;
    margin: auto;
  }
  .bg button{
    left: 35%;
    top: 70%;
  }
  #signin{
    position: absolute;
    bottom: 10%;
    left: 40%;
  }
  .footer-container{
    padding: 0px;
    align-items: center;
    
  }
  .footer-container h3 {
   border-bottom: 2px solid white;
    
  }

}
